%h1 ALL THE THINGS

%table.table.table-striped
  - @things.each do |thing|
    %tr
      %td= link_to thing.name, thing
      - if can? :edit, thing
        %td= link_to 'Edit', edit_thing_path(thing), class: 'btn'
      - if can? :destroy, thing
        %td= link_to 'Destroy', thing, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

%br

= link_to 'New Thing', new_thing_path if can? :create, Thing
