.jumbotron.masthead
  .container
    %h1 Madison's Yardbase
    
    %p List of top "things"
    %p Some stats about how many coffeshops we have

    %ul.masthead-links
      %li= link_to 'GitHub Project', 'https://github.com/yardbase/yardbase'
      %li= link_to 'Coffee &amp; wifi', coffee_shops_path
      %li Version 0.0.1
