.jumbotron.masthead
  .container
    %h1 Madison's Yardbase

    %p
      = link_to 'ALL THE THINGS', things_path
      Currently tracking #{Thing.count} things!

    %ul.masthead-links
      %li= link_to 'GitHub Project', 'https://github.com/yardbase/yardbase'
      %li= link_to 'Coffee & Wifi', "#TODO"
      %li Version 0.0.1
